<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.ActorRoleMapper">
  <resultMap id="BaseResultMap" type="com.xhu.po.ActorRole">
    <id column="actor_role_id" jdbcType="CHAR" property="actorRoleId" />
    <result column="actor_role_name" jdbcType="VARCHAR" property="actorRoleName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    actor_role_id, actor_role_name
  </sql>
  <select id="selectByExample" parameterType="com.xhu.po.ActorRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from actor_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from actor_role
    where actor_role_id = #{actorRoleId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from actor_role
    where actor_role_id = #{actorRoleId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xhu.po.ActorRoleExample">
    delete from actor_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhu.po.ActorRole">
    insert into actor_role (actor_role_id, actor_role_name)
    values (#{actorRoleId,jdbcType=CHAR}, #{actorRoleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xhu.po.ActorRole">
    insert into actor_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actorRoleId != null">
        actor_role_id,
      </if>
      <if test="actorRoleName != null">
        actor_role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actorRoleId != null">
        #{actorRoleId,jdbcType=CHAR},
      </if>
      <if test="actorRoleName != null">
        #{actorRoleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhu.po.ActorRoleExample" resultType="java.lang.Long">
    select count(*) from actor_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update actor_role
    <set>
      <if test="record.actorRoleId != null">
        actor_role_id = #{record.actorRoleId,jdbcType=CHAR},
      </if>
      <if test="record.actorRoleName != null">
        actor_role_name = #{record.actorRoleName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update actor_role
    set actor_role_id = #{record.actorRoleId,jdbcType=CHAR},
      actor_role_name = #{record.actorRoleName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xhu.po.ActorRole">
    update actor_role
    <set>
      <if test="actorRoleName != null">
        actor_role_name = #{actorRoleName,jdbcType=VARCHAR},
      </if>
    </set>
    where actor_role_id = #{actorRoleId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhu.po.ActorRole">
    update actor_role
    set actor_role_name = #{actorRoleName,jdbcType=VARCHAR}
    where actor_role_id = #{actorRoleId,jdbcType=CHAR}
  </update>
</mapper>