<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.AreaAddressMapper">
  <resultMap id="BaseResultMap" type="com.xhu.po.AreaAddress">
    <id column="area_address_id" jdbcType="CHAR" property="areaAddressId" />
    <result column="country_id" jdbcType="CHAR" property="countryId" />
    <result column="area_address_name" jdbcType="VARCHAR" property="areaAddressName" />
    <result column="area_address_english_name" jdbcType="VARCHAR" property="areaAddressEnglishName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    area_address_id, country_id, area_address_name, area_address_english_name
  </sql>
  <select id="selectByExample" parameterType="com.xhu.po.AreaAddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from area_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from area_address
    where area_address_id = #{areaAddressId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from area_address
    where area_address_id = #{areaAddressId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xhu.po.AreaAddressExample">
    delete from area_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhu.po.AreaAddress">
    insert into area_address (area_address_id, country_id, area_address_name, 
      area_address_english_name)
    values (#{areaAddressId,jdbcType=CHAR}, #{countryId,jdbcType=CHAR}, #{areaAddressName,jdbcType=VARCHAR}, 
      #{areaAddressEnglishName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xhu.po.AreaAddress">
    insert into area_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="areaAddressId != null">
        area_address_id,
      </if>
      <if test="countryId != null">
        country_id,
      </if>
      <if test="areaAddressName != null">
        area_address_name,
      </if>
      <if test="areaAddressEnglishName != null">
        area_address_english_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="areaAddressId != null">
        #{areaAddressId,jdbcType=CHAR},
      </if>
      <if test="countryId != null">
        #{countryId,jdbcType=CHAR},
      </if>
      <if test="areaAddressName != null">
        #{areaAddressName,jdbcType=VARCHAR},
      </if>
      <if test="areaAddressEnglishName != null">
        #{areaAddressEnglishName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhu.po.AreaAddressExample" resultType="java.lang.Long">
    select count(*) from area_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update area_address
    <set>
      <if test="record.areaAddressId != null">
        area_address_id = #{record.areaAddressId,jdbcType=CHAR},
      </if>
      <if test="record.countryId != null">
        country_id = #{record.countryId,jdbcType=CHAR},
      </if>
      <if test="record.areaAddressName != null">
        area_address_name = #{record.areaAddressName,jdbcType=VARCHAR},
      </if>
      <if test="record.areaAddressEnglishName != null">
        area_address_english_name = #{record.areaAddressEnglishName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update area_address
    set area_address_id = #{record.areaAddressId,jdbcType=CHAR},
      country_id = #{record.countryId,jdbcType=CHAR},
      area_address_name = #{record.areaAddressName,jdbcType=VARCHAR},
      area_address_english_name = #{record.areaAddressEnglishName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xhu.po.AreaAddress">
    update area_address
    <set>
      <if test="countryId != null">
        country_id = #{countryId,jdbcType=CHAR},
      </if>
      <if test="areaAddressName != null">
        area_address_name = #{areaAddressName,jdbcType=VARCHAR},
      </if>
      <if test="areaAddressEnglishName != null">
        area_address_english_name = #{areaAddressEnglishName,jdbcType=VARCHAR},
      </if>
    </set>
    where area_address_id = #{areaAddressId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhu.po.AreaAddress">
    update area_address
    set country_id = #{countryId,jdbcType=CHAR},
      area_address_name = #{areaAddressName,jdbcType=VARCHAR},
      area_address_english_name = #{areaAddressEnglishName,jdbcType=VARCHAR}
    where area_address_id = #{areaAddressId,jdbcType=CHAR}
  </update>
</mapper>