<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.MovieMapper">
  <resultMap id="BaseResultMap" type="com.xhu.po.Movie">
    <id column="movie_id" jdbcType="CHAR" property="movieId" />
    <result column="movie_type_id" jdbcType="CHAR" property="movieTypeId" />
    <result column="city_id" jdbcType="CHAR" property="cityId" />
    <result column="movie_name" jdbcType="VARCHAR" property="movieName" />
    <result column="movie_publishing_data" jdbcType="TIMESTAMP" property="moviePublishingData" />
    <result column="movie_introduction" jdbcType="VARCHAR" property="movieIntroduction" />
    <result column="movie_source_address" jdbcType="VARCHAR" property="movieSourceAddress" />
    <result column="movie_poster_address" jdbcType="VARCHAR" property="moviePosterAddress" />
    <result column="movie_duration_playback" jdbcType="TIMESTAMP" property="movieDurationPlayback" />
    <result column="movie_last_time" jdbcType="TIMESTAMP" property="movieLastTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    movie_id, movie_type_id, city_id, movie_name, movie_publishing_data, movie_introduction, 
    movie_source_address, movie_poster_address, movie_duration_playback, movie_last_time
  </sql>
  <select id="selectByExample" parameterType="com.xhu.po.MovieExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from movie
    where movie_id = #{movieId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from movie
    where movie_id = #{movieId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xhu.po.MovieExample">
    delete from movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhu.po.Movie">
    insert into movie (movie_id, movie_type_id, city_id, 
      movie_name, movie_publishing_data, movie_introduction, 
      movie_source_address, movie_poster_address, 
      movie_duration_playback, movie_last_time
      )
    values (#{movieId,jdbcType=CHAR}, #{movieTypeId,jdbcType=CHAR}, #{cityId,jdbcType=CHAR}, 
      #{movieName,jdbcType=VARCHAR}, #{moviePublishingData,jdbcType=TIMESTAMP}, #{movieIntroduction,jdbcType=VARCHAR}, 
      #{movieSourceAddress,jdbcType=VARCHAR}, #{moviePosterAddress,jdbcType=VARCHAR}, 
      #{movieDurationPlayback,jdbcType=TIMESTAMP}, #{movieLastTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xhu.po.Movie">
    insert into movie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="movieId != null">
        movie_id,
      </if>
      <if test="movieTypeId != null">
        movie_type_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="movieName != null">
        movie_name,
      </if>
      <if test="moviePublishingData != null">
        movie_publishing_data,
      </if>
      <if test="movieIntroduction != null">
        movie_introduction,
      </if>
      <if test="movieSourceAddress != null">
        movie_source_address,
      </if>
      <if test="moviePosterAddress != null">
        movie_poster_address,
      </if>
      <if test="movieDurationPlayback != null">
        movie_duration_playback,
      </if>
      <if test="movieLastTime != null">
        movie_last_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="movieId != null">
        #{movieId,jdbcType=CHAR},
      </if>
      <if test="movieTypeId != null">
        #{movieTypeId,jdbcType=CHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=CHAR},
      </if>
      <if test="movieName != null">
        #{movieName,jdbcType=VARCHAR},
      </if>
      <if test="moviePublishingData != null">
        #{moviePublishingData,jdbcType=TIMESTAMP},
      </if>
      <if test="movieIntroduction != null">
        #{movieIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="movieSourceAddress != null">
        #{movieSourceAddress,jdbcType=VARCHAR},
      </if>
      <if test="moviePosterAddress != null">
        #{moviePosterAddress,jdbcType=VARCHAR},
      </if>
      <if test="movieDurationPlayback != null">
        #{movieDurationPlayback,jdbcType=TIMESTAMP},
      </if>
      <if test="movieLastTime != null">
        #{movieLastTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhu.po.MovieExample" resultType="java.lang.Long">
    select count(*) from movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update movie
    <set>
      <if test="record.movieId != null">
        movie_id = #{record.movieId,jdbcType=CHAR},
      </if>
      <if test="record.movieTypeId != null">
        movie_type_id = #{record.movieTypeId,jdbcType=CHAR},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=CHAR},
      </if>
      <if test="record.movieName != null">
        movie_name = #{record.movieName,jdbcType=VARCHAR},
      </if>
      <if test="record.moviePublishingData != null">
        movie_publishing_data = #{record.moviePublishingData,jdbcType=TIMESTAMP},
      </if>
      <if test="record.movieIntroduction != null">
        movie_introduction = #{record.movieIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.movieSourceAddress != null">
        movie_source_address = #{record.movieSourceAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.moviePosterAddress != null">
        movie_poster_address = #{record.moviePosterAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.movieDurationPlayback != null">
        movie_duration_playback = #{record.movieDurationPlayback,jdbcType=TIMESTAMP},
      </if>
      <if test="record.movieLastTime != null">
        movie_last_time = #{record.movieLastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update movie
    set movie_id = #{record.movieId,jdbcType=CHAR},
      movie_type_id = #{record.movieTypeId,jdbcType=CHAR},
      city_id = #{record.cityId,jdbcType=CHAR},
      movie_name = #{record.movieName,jdbcType=VARCHAR},
      movie_publishing_data = #{record.moviePublishingData,jdbcType=TIMESTAMP},
      movie_introduction = #{record.movieIntroduction,jdbcType=VARCHAR},
      movie_source_address = #{record.movieSourceAddress,jdbcType=VARCHAR},
      movie_poster_address = #{record.moviePosterAddress,jdbcType=VARCHAR},
      movie_duration_playback = #{record.movieDurationPlayback,jdbcType=TIMESTAMP},
      movie_last_time = #{record.movieLastTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xhu.po.Movie">
    update movie
    <set>
      <if test="movieTypeId != null">
        movie_type_id = #{movieTypeId,jdbcType=CHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=CHAR},
      </if>
      <if test="movieName != null">
        movie_name = #{movieName,jdbcType=VARCHAR},
      </if>
      <if test="moviePublishingData != null">
        movie_publishing_data = #{moviePublishingData,jdbcType=TIMESTAMP},
      </if>
      <if test="movieIntroduction != null">
        movie_introduction = #{movieIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="movieSourceAddress != null">
        movie_source_address = #{movieSourceAddress,jdbcType=VARCHAR},
      </if>
      <if test="moviePosterAddress != null">
        movie_poster_address = #{moviePosterAddress,jdbcType=VARCHAR},
      </if>
      <if test="movieDurationPlayback != null">
        movie_duration_playback = #{movieDurationPlayback,jdbcType=TIMESTAMP},
      </if>
      <if test="movieLastTime != null">
        movie_last_time = #{movieLastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where movie_id = #{movieId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhu.po.Movie">
    update movie
    set movie_type_id = #{movieTypeId,jdbcType=CHAR},
      city_id = #{cityId,jdbcType=CHAR},
      movie_name = #{movieName,jdbcType=VARCHAR},
      movie_publishing_data = #{moviePublishingData,jdbcType=TIMESTAMP},
      movie_introduction = #{movieIntroduction,jdbcType=VARCHAR},
      movie_source_address = #{movieSourceAddress,jdbcType=VARCHAR},
      movie_poster_address = #{moviePosterAddress,jdbcType=VARCHAR},
      movie_duration_playback = #{movieDurationPlayback,jdbcType=TIMESTAMP},
      movie_last_time = #{movieLastTime,jdbcType=TIMESTAMP}
    where movie_id = #{movieId,jdbcType=CHAR}
  </update>
</mapper>