<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.RegionalMapper">
  <resultMap id="BaseResultMap" type="com.xhu.po.Regional">
      <id column="regional_id" jdbcType="CHAR" property="regionalId"/>
    <result column="regoional_name" jdbcType="VARCHAR" property="regoionalName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    regional_id, regoional_name
  </sql>
  <select id="selectByExample" parameterType="com.xhu.po.RegionalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from regional
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from regional
        where regional_id = #{regionalId,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from regional
        where regional_id = #{regionalId,jdbcType=CHAR}
    </delete>
  <delete id="deleteByExample" parameterType="com.xhu.po.RegionalExample">
    delete from regional
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhu.po.Regional">
    insert into regional (regional_id, regoional_name)
    values (#{regionalId,jdbcType=CHAR}, #{regoionalName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xhu.po.Regional">
    insert into regional
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regionalId != null">
        regional_id,
      </if>
      <if test="regoionalName != null">
        regoional_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regionalId != null">
        #{regionalId,jdbcType=CHAR},
      </if>
      <if test="regoionalName != null">
        #{regoionalName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhu.po.RegionalExample" resultType="java.lang.Long">
    select count(*) from regional
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update regional
    <set>
      <if test="record.regionalId != null">
        regional_id = #{record.regionalId,jdbcType=CHAR},
      </if>
      <if test="record.regoionalName != null">
        regoional_name = #{record.regoionalName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update regional
    set regional_id = #{record.regionalId,jdbcType=CHAR},
      regoional_name = #{record.regoionalName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.xhu.po.Regional">
        update regional
        <set>
            <if test="regoionalName != null">
                regoional_name = #{regoionalName,jdbcType=VARCHAR},
            </if>
        </set>
        where regional_id = #{regionalId,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xhu.po.Regional">
        update regional
        set regoional_name = #{regoionalName,jdbcType=VARCHAR}
        where regional_id = #{regionalId,jdbcType=CHAR}
    </update>
</mapper>