<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.ScreeningRoomMapper">
  <resultMap id="BaseResultMap" type="com.xhu.po.ScreeningRoom">
    <id column="screening_room_id" jdbcType="CHAR" property="screeningRoomId" />
    <result column="field_id" jdbcType="CHAR" property="fieldId" />
    <result column="theater_id" jdbcType="CHAR" property="theaterId" />
    <result column="screening_room_name" jdbcType="VARCHAR" property="screeningRoomName" />
    <result column="screening_room_capacity" jdbcType="INTEGER" property="screeningRoomCapacity" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    screening_room_id, field_id, theater_id, screening_room_name, screening_room_capacity
  </sql>
  <select id="selectByExample" parameterType="com.xhu.po.ScreeningRoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from screening_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from screening_room
    where screening_room_id = #{screeningRoomId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from screening_room
    where screening_room_id = #{screeningRoomId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xhu.po.ScreeningRoomExample">
    delete from screening_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhu.po.ScreeningRoom">
    insert into screening_room (screening_room_id, field_id, theater_id, 
      screening_room_name, screening_room_capacity
      )
    values (#{screeningRoomId,jdbcType=CHAR}, #{fieldId,jdbcType=CHAR}, #{theaterId,jdbcType=CHAR}, 
      #{screeningRoomName,jdbcType=VARCHAR}, #{screeningRoomCapacity,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xhu.po.ScreeningRoom">
    insert into screening_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="screeningRoomId != null">
        screening_room_id,
      </if>
      <if test="fieldId != null">
        field_id,
      </if>
      <if test="theaterId != null">
        theater_id,
      </if>
      <if test="screeningRoomName != null">
        screening_room_name,
      </if>
      <if test="screeningRoomCapacity != null">
        screening_room_capacity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="screeningRoomId != null">
        #{screeningRoomId,jdbcType=CHAR},
      </if>
      <if test="fieldId != null">
        #{fieldId,jdbcType=CHAR},
      </if>
      <if test="theaterId != null">
        #{theaterId,jdbcType=CHAR},
      </if>
      <if test="screeningRoomName != null">
        #{screeningRoomName,jdbcType=VARCHAR},
      </if>
      <if test="screeningRoomCapacity != null">
        #{screeningRoomCapacity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhu.po.ScreeningRoomExample" resultType="java.lang.Long">
    select count(*) from screening_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update screening_room
    <set>
      <if test="record.screeningRoomId != null">
        screening_room_id = #{record.screeningRoomId,jdbcType=CHAR},
      </if>
      <if test="record.fieldId != null">
        field_id = #{record.fieldId,jdbcType=CHAR},
      </if>
      <if test="record.theaterId != null">
        theater_id = #{record.theaterId,jdbcType=CHAR},
      </if>
      <if test="record.screeningRoomName != null">
        screening_room_name = #{record.screeningRoomName,jdbcType=VARCHAR},
      </if>
      <if test="record.screeningRoomCapacity != null">
        screening_room_capacity = #{record.screeningRoomCapacity,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update screening_room
    set screening_room_id = #{record.screeningRoomId,jdbcType=CHAR},
      field_id = #{record.fieldId,jdbcType=CHAR},
      theater_id = #{record.theaterId,jdbcType=CHAR},
      screening_room_name = #{record.screeningRoomName,jdbcType=VARCHAR},
      screening_room_capacity = #{record.screeningRoomCapacity,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xhu.po.ScreeningRoom">
    update screening_room
    <set>
      <if test="fieldId != null">
        field_id = #{fieldId,jdbcType=CHAR},
      </if>
      <if test="theaterId != null">
        theater_id = #{theaterId,jdbcType=CHAR},
      </if>
      <if test="screeningRoomName != null">
        screening_room_name = #{screeningRoomName,jdbcType=VARCHAR},
      </if>
      <if test="screeningRoomCapacity != null">
        screening_room_capacity = #{screeningRoomCapacity,jdbcType=INTEGER},
      </if>
    </set>
    where screening_room_id = #{screeningRoomId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhu.po.ScreeningRoom">
    update screening_room
    set field_id = #{fieldId,jdbcType=CHAR},
      theater_id = #{theaterId,jdbcType=CHAR},
      screening_room_name = #{screeningRoomName,jdbcType=VARCHAR},
      screening_room_capacity = #{screeningRoomCapacity,jdbcType=INTEGER}
    where screening_room_id = #{screeningRoomId,jdbcType=CHAR}
  </update>
</mapper>