<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xhu.po.User">
    <id column="user_id" jdbcType="CHAR" property="userId" />
    <result column="city_id" jdbcType="CHAR" property="cityId" />
    <result column="user_sex" jdbcType="BIT" property="userSex" />
    <result column="user_birthday" jdbcType="TIMESTAMP" property="userBirthday" />
    <result column="user_password" jdbcType="CHAR" property="userPassword" />
    <result column="user_telphone" jdbcType="CHAR" property="userTelphone" />
    <result column="user_picture_address" jdbcType="VARCHAR" property="userPictureAddress" />
    <result column="user_create_time" jdbcType="TIMESTAMP" property="userCreateTime" />
    <result column="user_last_load_time" jdbcType="TIMESTAMP" property="userLastLoadTime" />
    <result column="user_is_delete" jdbcType="BIT" property="userIsDelete" />
    <result column="user_is_load" jdbcType="BIT" property="userIsLoad" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, city_id, user_sex, user_birthday, user_password, user_telphone, user_picture_address, 
    user_create_time, user_last_load_time, user_is_delete, user_is_load
  </sql>
  <select id="selectByExample" parameterType="com.xhu.po.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from [user]
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from  [user]
    where  [user] _id = #{userId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from  [user]
    where user_id = #{userId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xhu.po.UserExample">
    delete from [user]
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhu.po.User">
    insert into [user] (user_id, city_id, user_sex,
      user_birthday, user_password, user_telphone, 
      user_picture_address, user_create_time, user_last_load_time, 
      user_is_delete, user_is_load)
    values (#{userId,jdbcType=CHAR}, #{cityId,jdbcType=CHAR}, #{userSex,jdbcType=BIT}, 
      #{userBirthday,jdbcType=TIMESTAMP}, #{userPassword,jdbcType=CHAR}, #{userTelphone,jdbcType=CHAR}, 
      #{userPictureAddress,jdbcType=VARCHAR}, #{userCreateTime,jdbcType=TIMESTAMP}, #{userLastLoadTime,jdbcType=TIMESTAMP}, 
      #{userIsDelete,jdbcType=BIT}, #{userIsLoad,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xhu.po.User">
    insert into  [user]
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userBirthday != null">
        user_birthday,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userTelphone != null">
        user_telphone,
      </if>
      <if test="userPictureAddress != null">
        user_picture_address,
      </if>
      <if test="userCreateTime != null">
        user_create_time,
      </if>
      <if test="userLastLoadTime != null">
        user_last_load_time,
      </if>
      <if test="userIsDelete != null">
        user_is_delete,
      </if>
      <if test="userIsLoad != null">
        user_is_load,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=CHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=BIT},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=CHAR},
      </if>
      <if test="userTelphone != null">
        #{userTelphone,jdbcType=CHAR},
      </if>
      <if test="userPictureAddress != null">
        #{userPictureAddress,jdbcType=VARCHAR},
      </if>
      <if test="userCreateTime != null">
        #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLastLoadTime != null">
        #{userLastLoadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userIsDelete != null">
        #{userIsDelete,jdbcType=BIT},
      </if>
      <if test="userIsLoad != null">
        #{userIsLoad,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhu.po.UserExample" resultType="java.lang.Long">
    select count(*) from  [user]
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update  [user]
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=CHAR},
      </if>
      <if test="record.userSex != null">
        user_sex = #{record.userSex,jdbcType=BIT},
      </if>
      <if test="record.userBirthday != null">
        user_birthday = #{record.userBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userPassword != null">
        user_password = #{record.userPassword,jdbcType=CHAR},
      </if>
      <if test="record.userTelphone != null">
        user_telphone = #{record.userTelphone,jdbcType=CHAR},
      </if>
      <if test="record.userPictureAddress != null">
        user_picture_address = #{record.userPictureAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.userCreateTime != null">
        user_create_time = #{record.userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userLastLoadTime != null">
        user_last_load_time = #{record.userLastLoadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userIsDelete != null">
        user_is_delete = #{record.userIsDelete,jdbcType=BIT},
      </if>
      <if test="record.userIsLoad != null">
        user_is_load = #{record.userIsLoad,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update  [user]
    set user_id = #{record.userId,jdbcType=CHAR},
      city_id = #{record.cityId,jdbcType=CHAR},
      user_sex = #{record.userSex,jdbcType=BIT},
      user_birthday = #{record.userBirthday,jdbcType=TIMESTAMP},
      user_password = #{record.userPassword,jdbcType=CHAR},
      user_telphone = #{record.userTelphone,jdbcType=CHAR},
      user_picture_address = #{record.userPictureAddress,jdbcType=VARCHAR},
      user_create_time = #{record.userCreateTime,jdbcType=TIMESTAMP},
      user_last_load_time = #{record.userLastLoadTime,jdbcType=TIMESTAMP},
      user_is_delete = #{record.userIsDelete,jdbcType=BIT},
      user_is_load = #{record.userIsLoad,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xhu.po.User">
    update  [user]
    <set>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=CHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=BIT},
      </if>
      <if test="userBirthday != null">
        user_birthday = #{userBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=CHAR},
      </if>
      <if test="userTelphone != null">
        user_telphone = #{userTelphone,jdbcType=CHAR},
      </if>
      <if test="userPictureAddress != null">
        user_picture_address = #{userPictureAddress,jdbcType=VARCHAR},
      </if>
      <if test="userCreateTime != null">
        user_create_time = #{userCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLastLoadTime != null">
        user_last_load_time = #{userLastLoadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userIsDelete != null">
        user_is_delete = #{userIsDelete,jdbcType=BIT},
      </if>
      <if test="userIsLoad != null">
        user_is_load = #{userIsLoad,jdbcType=BIT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhu.po.User">
    update  [user]
    set city_id = #{cityId,jdbcType=CHAR},
      user_sex = #{userSex,jdbcType=BIT},
      user_birthday = #{userBirthday,jdbcType=TIMESTAMP},
      user_password = #{userPassword,jdbcType=CHAR},
      user_telphone = #{userTelphone,jdbcType=CHAR},
      user_picture_address = #{userPictureAddress,jdbcType=VARCHAR},
      user_create_time = #{userCreateTime,jdbcType=TIMESTAMP},
      user_last_load_time = #{userLastLoadTime,jdbcType=TIMESTAMP},
      user_is_delete = #{userIsDelete,jdbcType=BIT},
      user_is_load = #{userIsLoad,jdbcType=BIT}
    where user_id = #{userId,jdbcType=CHAR}
  </update>
</mapper>