<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.WorldCountryMapper">
  <resultMap id="BaseResultMap" type="com.xhu.po.WorldCountry">
    <id column="world_country_id" jdbcType="CHAR" property="worldCountryId" />
    <result column="chau_id" jdbcType="CHAR" property="chauId" />
    <result column="world_country_name" jdbcType="VARCHAR" property="worldCountryName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    world_country_id, chau_id, world_country_name
  </sql>
  <select id="selectByExample" parameterType="com.xhu.po.WorldCountryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from world_country
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from world_country
    where world_country_id = #{worldCountryId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from world_country
    where world_country_id = #{worldCountryId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xhu.po.WorldCountryExample">
    delete from world_country
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhu.po.WorldCountry">
    insert into world_country (world_country_id, chau_id, world_country_name
      )
    values (#{worldCountryId,jdbcType=CHAR}, #{chauId,jdbcType=CHAR}, #{worldCountryName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xhu.po.WorldCountry">
    insert into world_country
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="worldCountryId != null">
        world_country_id,
      </if>
      <if test="chauId != null">
        chau_id,
      </if>
      <if test="worldCountryName != null">
        world_country_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="worldCountryId != null">
        #{worldCountryId,jdbcType=CHAR},
      </if>
      <if test="chauId != null">
        #{chauId,jdbcType=CHAR},
      </if>
      <if test="worldCountryName != null">
        #{worldCountryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhu.po.WorldCountryExample" resultType="java.lang.Long">
    select count(*) from world_country
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update world_country
    <set>
      <if test="record.worldCountryId != null">
        world_country_id = #{record.worldCountryId,jdbcType=CHAR},
      </if>
      <if test="record.chauId != null">
        chau_id = #{record.chauId,jdbcType=CHAR},
      </if>
      <if test="record.worldCountryName != null">
        world_country_name = #{record.worldCountryName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update world_country
    set world_country_id = #{record.worldCountryId,jdbcType=CHAR},
      chau_id = #{record.chauId,jdbcType=CHAR},
      world_country_name = #{record.worldCountryName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xhu.po.WorldCountry">
    update world_country
    <set>
      <if test="chauId != null">
        chau_id = #{chauId,jdbcType=CHAR},
      </if>
      <if test="worldCountryName != null">
        world_country_name = #{worldCountryName,jdbcType=VARCHAR},
      </if>
    </set>
    where world_country_id = #{worldCountryId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhu.po.WorldCountry">
    update world_country
    set chau_id = #{chauId,jdbcType=CHAR},
      world_country_name = #{worldCountryName,jdbcType=VARCHAR}
    where world_country_id = #{worldCountryId,jdbcType=CHAR}
  </update>
</mapper>